*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: 'Montserrat', sans-serif;
}
h1{
	font-weight: 900;
	font-size: 36px;
	margin-bottom: 30px;
	width: 80%;
}
p{
	font-weight: 500;
	font-size: 19px;
	margin-bottom: 60px;
	width: 80%;
}
h2{
	font-weight: 900;
	font-size: 30px;
}
.five{
	width: 54%;
}
b{
	margin:0 20px;
	font-style: normal;
	font-weight: 900;
	font-size: 18px;	
}
h4{
	font-weight: 900;
	font-size: 20px;
	margin-bottom: 6px;
}
#rights{
	color:white;
	font-weight: 400;
	font-size: 18px; 
	margin-bottom:0;
	width:100%;
}
#number{
	color:white;
	font-weight: 800;
	font-size: 18px; 
	margin-bottom:0; 
	width:100%;
}
header{
	position:absolute;
	top:0;
	left:0;
	height: 100vh;
	width: 100%;
	background: linear-gradient(123.97deg, #FDF6B5 13.65%, #FFC2A8 87.93%);
}
.bar,.logo{
	display: flex;
	align-items: center;
}
.button1{
	text-decoration:none;
	color:black;
}
#logotip{
	height: 60px;
	margin-top:10px;
}
.navigation{
	margin:0 25px;
}
#sign_a{
	text-decoration:none;
	color:black;
	padding:10px 15px;
	font-weight: 700;
	font-size: 15px;
}
.navigation:hover, #sign_a:hover{
	font-weight: 700;
	border-bottom:1px solid black; 
}
#sign_up{
	width: 46px;
	height: 46px;
}
.parent{
	width:85%;
	display:flex;
	margin: 70px auto;
}
.element{
	width: 50%;
}
.button1{
	padding:20px 45px;
	font-weight: 700;
	font-size: 18px;
	background: linear-gradient(103.3deg, #FFD43E 33.27%, #FFCC15 76.67%);
	box-shadow: 0px 9px 35px #FFD335;
	border-radius: 25px;
}
.button1:hover{
	color:black;
}
.element2{
	position:relative;
	left: 0; 
	top: 0;
}
#main_img{
	position:relative;
	left:10px;
	top:-80px;
	width: 100%;
}
svg{
	position:absolute;
	right:10px;
	top:-60px;
}
ellipse{
	fill:none; 
	stroke:#FFF6D7;
	stroke-width:60;
}
#AboutUs{
	position: absolute;
	top:100vh;
	width: 100%;
	height: 75vh;
	display: flex;
	justify-content: flex-end;
}
.parent2{
	width:92.5%;
}
.block{
	display:flex;
	justify-content: space-around;
	width:100%;
	margin-top:70px;
	flex-wrap:wrap;
}
.block1{
	justify-content: space-between;
}
.reason{
	width:33.33%;
	display: flex;
	margin-top:10px;
	transition: all 0.4s ease-in-out;
    padding: 15px 0;
}
.reason_img{
	width:100px;
	height: 100px;
	border-radius:22px;
    filter: grayscale(100);
}
.reason:hover {
    filter: none;
    transform: scale(1.2);
}
.reason_img:hover {
    filter: none;
    transform: scale(1.2);
}
.text{
	margin-left:20px;
}
#Bestsellers{
	position:absolute;
	top:175vh;
	width: 100%;
	height: 117vh;
	background: linear-gradient(123.97deg, #ffafcc 13.65%, #cdb4db 87.93%);
}
.gallery{
	position:relative;
	width:220px;
	height:220px;
	transform-style:preserve-3d;
	animation: animate 25s linear infinite;
}
.picture{
	width: 31%;
	margin-top: 0px;
}
.picture img{
	width: 100%;
	border-radius:5px;
}
#more{
	text-align: center;
	position: absolute;
	bottom: 20%;
}
#more a{
	text-decoration:none;
	color:black;
	font-weight: 900;
	font-size: 28px;
}
.parent4{
	width: 85%;
	margin:auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.footer_logo{
	display:flex;
	align-items: center;
}
.footer_logo img{
	margin-top:8px;
}
.footer_logo h3{
	margin:0 10px;
	font-style: normal;
	font-weight: 900;
	font-size: 20px;	
	color:white;
}
.phone{
	width:22px;
}
.zakaz{
	border-radius: 15px; 
	padding: 10px 25px;
	display:block;
    width:130px; 
    margin:auto;
	margin-top: -40px;
	background-color: #F01B41;
	color: white;
	box-shadow: 0 0 10px 9px #F49EAD;
}
.content{
	position:absolute;
	top:0;
	left:0;
	min-height: 100vh;
	width: 100%;
	background: linear-gradient(123.97deg, #F5CAC3 13.65%, #98C1D9 87.93%);
}
.card{
	transition: all ease-in-out 0.3s;
	width: 18rem; 
	margin-top: 50px;
	height: 430px;
}
.card:hover{
	transform: scale(1.1);
	background-color: white;
	color: #edf2fb;
	box-shadow: 10px 10px 10px #5e6472;
	z-index: 3;
	border-bottom: 7px solid #83c5be; 
	border-right: 7px solid #ffddd2;
	border-left: 7px solid #cdb4db;
	border-top: 7px solid #ffafcc;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.card-title,.card-text{
	text-align:center;
	width: 100%;
}
.card img{
	border-radius: 10px; 
	width: 200px; 
	height: 200px;
	margin: 30px 40px;
}
#Menu{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
	height: 170vh;
	width: 100%;
	top:292vh;
}
.title{
	display: block;
	position: absolute;
	top:50px;
}
.menu{
	background-color: black;
	z-index:1;
	padding:20px 25px;
	border:2px solid black;
	width:auto;
	background-color: white;
	border-radius:5px;
}
.menu h2{
	font-size:28px;
}
@keyframes animate{
	0%{
		transform: perspective(1000px) rotateY(0deg);
	}
	100%{
		transform: perspective(1000px) rotateY(360deg);
	}
}
.gallery span{
	position:absolute;
	top:0;
	left:0;
	width: 70%;
	height: 70%;
	transform-origin: center;
	transform-style:preserve-3d;
	transform: rotateY(calc(var(--i)*45deg)) translateZ(370px);
	-webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0004);
}
.gallery span img{
	position:absolute;
	top:0;
	left:0;
	width: 50%;
	height: 50%;
	object-fit: cover;
}

#Contacts{
	position:absolute;
	top:440vh;
	height: 23vh;
	width: 100%;
	background-color: black;
	display: flex;
	align-items: center;
}
.form-control, .form-inline{
	width: 500px;
}
/*------------------------Navbar----------------------*/

.topnav {
  background-color: transparent;
  display:flex; 
  justify-content: space-around; 
  align-items: center;
  width:92.5%;
  margin-top:25px;
  margin-left:7.5%;
}

.topnav a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration:none;
  color:black;
  font-weight: 500;
  font-size: 14px;
  margin: 0;
}
#sign_a{
	margin-right:-70px;
}
.topnav .icon {
  display: none;
}
.mydropdown {
  float: left;
  overflow: hidden;
  width: 120px;
}
.mydropdown .mydropbtn {
  border: none;
  outline: none;
  color: black;
  padding: 7px 7px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.mydropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.mydropdown-content a {
  float: none;
  color: black;
  padding: 7px 7px;
  text-decoration: none;
  display: block;
  text-align: left;
  width: auto;
}

.mydropdown-content a:hover {
  background-color: #ddd;
  color: black;
}
.mydropdown:hover .mydropdown-content {
  display: block;
}


/*------------------------MEDIA-----------------------*/

@media all and (max-width: 1200px){
	#sign_a{
		padding:7px 10px;
	}
	#sign_a{
	margin-right:-40px;
}
	p{
		margin-bottom: 40px;
	}
	.button1{
		padding:15px 40px;
		border-radius: 22px;
	}
	#main_img{
		left:0;
		top:-45px;
	}
	svg{
		top:-45px;
		height: 270px;
	}
	ellipse{
		stroke-width:45;
		cx:200;
		cy:160;
		rx:130;
		ry:130;
	}
	.zakaz{
		border-radius: 12px; 
		padding: 7px 18px;
		margin-top: -15px;
	}
	.parent2{
		width:95%;
	}
	.gallery{
		width: 210px;
		height: 210px;
	}
	.gallery span{
		top:0;
		transform: rotateY(calc(var(--i) * 45deg)) translateZ(370px);
	}
	#more{
		bottom: 10%;
	}
	#Menu{
		height: 130vh;
	}
	#Contacts{
		top:420vh;
	}
}
@media all and (max-width: 992px){
	header{
		width: 100%;
	}
	.topnav{
		width: 90%;
	}
	#sign_a{
		padding:7px 7px;
	}
	#sign_a{
		margin-right:-20px;
	}
	h1,p,.button1{
		width: 100%;
		text-align: center;
	}
	.topnav a {
	  padding: 7px 7px;
	}
	p{
		margin: 60px 0;
	}
	.button1{
		padding:15px 0;
		width: 140px;
		display: block;
		margin:auto;
	}
	.element2{
		visibility: hidden;
		margin:0;
		width: 0;
	}
	.parent{
		flex-wrap: wrap;
	}
	.element,.five,.element1{
		width: 100%;
	} 
	#AboutUs{;
		height:90vh;
		justify-content:flex-end;
	}
	.block2{
		margin-top: 30px;
		justify-content:flex-start;
	}
	#Bestsellers{
		top:190vh;
		height: 200vh;
	}
	#Menu{
		height: 170vh;
		top:390vh;
	}
	.reason{
		width:40%;
		margin-left: 30px;
	}
	.reason p,#rights,#number {
		text-align: left;
		margin:0;
	}
	.card-text{
		margin:10px 0;
	}

	.zakaz{
		margin-top: 20px;
	}
	#Contacts{
		top:495vh;
	}
	.parent2{
		width:95%;
	}
	.gallery{
		width: 180px;
		height: 180px;
	}
	.gallery span{
		transform: rotateY(calc(var(--i) * 45deg)) translateZ(310px);
	}
	#more{
		bottom: 12%;
	}
	#Menu{
		height: 110vh;
	}
}
@media all and (max-width: 768px){
	#logotip{
		height: 50px;
	}
	#AboutUs{;
		height: 100vh;
		justify-content:center;
	}
	.block{
		margin-top: 40px;
	}
	.five{
		text-align: center;
	}
	.block2{
		margin-top: 20px;
	}
	#Bestsellers{
		top:200vh;
		height: 275vh;
	}
	#Menu{
		height: 170vh;
		top:475vh;
	}
	#best{
		margin-top:-20px;
	}
	.reason{
		width:80%;
	}
	#Contacts{
		top:570vh;
		height: 45vh;
	}
	.parent2{
		width:95%;
	}
	.gallery{
		width: 160px;
		height: 160px;
	}
	.gallery span{
		transform: rotateY(calc(var(--i) * 45deg)) translateZ(250px);
	}
	#more{
		bottom: 12%;
	}
	#Menu{
		height: 100vh;
	}
	.parent4{
		flex-wrap: wrap;
	}
	.parent4 div{
		width: 80%;
		margin-bottom:25px;
	}
	.topnav a:not(:first-child), .mydropdown .mydropbtn {
	    display: none;
	  }
	  .topnav a.icon {
	    float: right;
	    display: block;
	    position:absolute;
	    top:37.5px;
	    right:7.5%;
	  }
	  /*----------------------------------------------------------*/
	.topnav{
	    display: block;
	  }
	  .topnav.responsive {position: relative;}
	  .topnav.responsive a.icon {
	    position: absolute;
	    top:12.5px;
	    right:5.6%;
	  }
	  .topnav.responsive a {
	    float: none;
	    display: block;
	    text-align: left;
	  }
	  .topnav.responsive .mydropdown {float: none;}
	  .topnav.responsive .mydropdown-content {position: relative;}
	  .topnav.responsive .mydropdown .mydropbtn {
	    display: block;
	    width: 100%;
	    text-align: left;
	  }
	  .topnav #hidden {
	    margin:0;
	    padding:0;
	  }
	  #sign_up{
	    display:none;
	  }
}
@media all and (max-width: 576px){
	.gallery{
		width: 150px;
		height: 150px;
	}
	.gallery span{
		transform: rotateY(calc(var(--i) * 45deg)) translateZ(210px);
	}
	#more{
		bottom: 12%;
	}
	#Menu{
		height: 100vh;
	}
}